@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Spectral&display=swap');

:root {
--heading-font: 'Montserrat', sans-serif;
--paragraph-font: 'Spectral', serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: blue;
}

header img {
    margin-right: 15px;
}

h1 {
    margin: 0;
    color: white;
    background-color: blue;
}

nav {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 1rem;
}

.navigation {
    display: none;
}

.navigation.open {
    display: block;
}

#menu {
    display: block;
}
  
nav a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.75em;
}

nav a:hover {
    background-color: steelblue;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

main {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.hero {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 20%;
    left: 20%;
    background-color: rgba(0, 0, 0, 0.15);
    color: white;
    padding: 20px;
    white-space: nowrap;
    border-radius: 5px;
}

.overlay h2 {
    font-size: 2em;
    font-weight: 700;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 15px;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

.card li {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
}

.card .number {
    margin-right: 10px;
    font-weight: bold;
}

h3 {
    background-color: blue;
    color: white;
    padding: 10px;
    border: 2px lightgray;
    border-radius: 5px;
    margin: 10px 0;
}

p {
    font-family: var(--paragraph-font);
}

h1, h2, h3 {
    font-family: var(--heading-font);
}

h3::before {
    content: "📖";
}

.weather::before {
    content: "🌡 ";
}

.map-container {
    position: relative;
    width: 100%;
    padding-bottom: 30.25%;
    height: 0;
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: blue;
    color: white;
}